div.csv-table-block {
  margin: 0 auto 1rem auto;

  > div.csv-table-container {
    overflow-x: auto;

    > table.csv-table {
      margin-bottom: 0;

      &.table-sm {
        font-size: var(--font-size-6);
      }

      .csv-table-right-align {
        text-align: right;
        padding-right: 0.7rem !important;
      }
    }
  }

  > div.table-caption {
    padding: 0.5rem;
    color: var(--bs-secondary);

    > p {
      text-align: inherit;
      font-size: var(--font-size-6);
      margin-bottom: 0;
    }
  }
}