{% load wagtailcore_tags csv_table_block_tags %}
{% if self.rendered and self.html %}
    <div class="csv-table-block"
         style="width:{{ self.width }}%;{% if self.max_width %}max-width:{{ self.max_width }}rem;{% endif %}">
        {% if self.title.title %}
            <p class="text-{{ self.title.alignment }} {{ self.title.heading_size }}"
               {% if self.title.anchor_id %}id="{{ self.title.anchor_id }}"{% endif %}>{{ self.title.title }}</p>
        {% endif %}
        <div class="csv-table-container">
            {{ self.html|safe }}
        </div>
        {% if self.caption %}
            <div class="table-caption text-{{ self.caption_alignment }}">{{ self.caption }}</div>
        {% endif %}
    </div>
{% endif %}
