@charset "UTF-8";
nav.navbar.menustream {
  font-family: "Quicksand", sans-serif !important;
  background-color: var(--bs-body-bg);
  top: 0;
  z-index: 1020;
  width: 100%;
  padding: 0.25rem;
  position: fixed !important;
}
nav.navbar.menustream > div.menustream-container {
  row-gap: clamp(0.2rem, 2%, 2rem);
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  padding-right: 0.25rem !important;
  justify-content: space-evenly !important;
  max-height: 95vh;
}
nav.navbar.menustream a.navbar-brand {
  font-size: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  font-weight: 600 !important;
  display: flex;
  align-items: center;
}
nav.navbar.menustream a.navbar-brand > img {
  height: clamp(26px, 26px + 29 * (100vw - 375px) / 1125, 55px);
}
nav.navbar.menustream ul.navbar-nav {
  text-wrap: wrap;
}
nav.navbar.menustream li.nav-item > a.nav-link {
  border-bottom: 1px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  fill: var(--bs-nav-link-color);
  padding: 0;
  text-wrap: wrap;
  font-size: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem) !important;
  font-weight: 500 !important;
}
nav.navbar.menustream li.nav-item > a.nav-link:hover {
  fill: var(--bs-nav-link-hover-color);
}
nav.navbar.menustream li.nav-item > a.nav-link.show {
  fill: var(--bs-navbar-active-color);
}
nav.navbar.menustream li.nav-item.active > a.nav-link {
  border-bottom-color: unset;
  fill: var(--bs-navbar-active-color);
  margin-bottom: 0.3em;
}
nav.navbar.menustream li.nav-item > a.nav-link > div {
  display: inline-flex;
}
nav.navbar.menustream li.nav-item > ul.dropdown-menu {
  margin-top: 0.5em;
  padding-bottom: 1em;
}
nav.navbar.menustream div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
  transform: rotate(-90deg);
}
nav.navbar.menustream div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle.show::after {
  transform: rotate(0deg);
}
nav.navbar.menustream div.sticky > ul.navbar-nav > li.nav-item.dropdown > ul.dropdown-menu {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  max-width: 20rem;
  max-height: 85vh;
  overflow-y: auto;
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item {
  white-space: unset;
  line-height: 1.2;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item:active {
  background-color: var(--bs-secondary-bg);
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item.nav-label:hover {
  background-color: unset;
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item > a.nav-link {
  display: flex;
  align-items: center;
  padding-bottom: 0.3em;
  width: -webkit-fill-available;
  font-weight: 500;
  font-size: var(--bs-dropdown-font-size);
  text-wrap: wrap;
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item.active {
  background-color: var(--bs-secondary-bg);
}
nav.navbar.menustream ul .dropdown-menu > li.dropdown-item.active > a.nav-link > div::after {
  content: "🗸";
  padding-left: 0.5em;
}
nav.navbar.menustream a.nav-link > img + div {
  margin-left: 0.5rem;
}
nav.navbar.menustream a.nav-link svg {
  width: 1em;
  height: 1em;
}
nav.navbar.menustream ul.dropdown-menu > li.submenu > a.dropdown-toggle > div {
  display: inline-flex;
}
nav.navbar.menustream li.dropdown-item.submenu {
  padding-right: 0;
}
nav.navbar.menustream li.submenu > ul.dropdown-menu {
  border-width: 0;
  padding-top: 0;
  padding-bottom: 1em;
}
nav.navbar.menustream li.submenu > ul.dropdown-menu > li.dropdown-item {
  padding-left: 1.5em;
}
nav.navbar.menustream li.submenu > a.nav-link.show::after {
  transform: rotate(90deg);
}
nav.navbar.menustream li.submenu > a.nav-link::after {
  display: inline-block;
  margin: 0 0.5em;
  vertical-align: 0;
  content: "";
  border-top: 0.4em solid transparent;
  border-right: 0;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid;
}
nav.navbar.menustream li.submenu.dropinline ul.dropdown-menu {
  background-color: transparent;
}
nav.navbar.menustream li.submenu.dropinline ul.dropdown-menu li:hover {
  background-color: var(--bs-secondary-bg);
}
nav.navbar.menustream li.search-menu {
  position: static;
}
nav.navbar.menustream li.search-menu > ul.dropdown-menu {
  padding: 0.3em 1em !important;
  margin-top: 0 !important;
  position: absolute !important;
  top: calc(0.7em + clamp(26px, 26px + 29 * (100vw - 375px) / 1125, 55px)) !important;
  width: min(30rem, 100%) !important;
  left: clamp(0.01px, 100% - 30rem, 100%) !important;
  border: 0;
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  max-width: unset !important;
}
nav.navbar.menustream li.search-menu > ul.dropdown-menu form {
  margin-block-end: 0;
}
nav.navbar.menustream div.navbar-collapse li.search-menu {
  position: relative;
}
nav.navbar.menustream div.navbar-collapse li.search-menu > ul.dropdown-menu {
  margin-left: 2rem;
  border: 0;
  padding: 0 !important;
  position: unset !important;
  width: unset !important;
}
nav.navbar.menustream div.navbar-collapse li.search-menu > ul.dropdown-menu form {
  margin-block-end: 0.5em;
}
nav.navbar.menustream div.sticky li.search-menu > a.nav-link > div.search-label {
  display: none;
}
nav.navbar.menustream ::-webkit-scrollbar {
  width: 10px;
}
nav.navbar.menustream ::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
  border-radius: 8px;
  box-shadow: inset 0 0 6px var(--bs-body-bg);
}
nav.navbar.menustream ::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg);
}
nav.navbar.menustream ::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-500);
}

@media (min-width: 0px) {
  nav.navbar.menustream.navbar-expand {
    padding-right: 0.5rem;
  }
  nav.navbar.menustream.navbar-expand > div.menustream-container {
    -moz-column-gap: clamp(0.2rem, 2%, 2rem);
         column-gap: clamp(0.2rem, 2%, 2rem);
  }
  nav.navbar.menustream.navbar-expand ul.navbar-nav {
    max-width: 12rem;
    margin: 0.5rem 0;
  }
  nav.navbar.menustream.navbar-expand li.nav-item > ul.dropdown-menu {
    box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    width: -moz-max-content;
    width: max-content;
    min-width: 12rem;
    max-width: 20rem;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }
  nav.navbar.menustream.navbar-expand div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }
  nav.navbar.menustream.navbar-expand li.nav-item {
    display: flex;
  }
  nav.navbar.menustream.navbar-expand li.nav-item.active > a.nav-link {
    margin-bottom: unset;
  }
  nav.navbar.menustream.navbar-expand a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  nav.navbar.menustream.navbar-expand a.nav-link svg + div {
    margin-left: 0.2em;
  }
  nav.navbar.menustream.navbar-expand li.submenu > ul.dropdown-menu {
    border-width: var(--bs-dropdown-border-width);
    padding-top: var(--bs-dropdown-padding-y);
    padding-bottom: var(--bs-dropdown-padding-y);
    margin-top: -0.5em;
  }
  nav.navbar.menustream.navbar-expand li.dropdown-item.submenu > ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }
  nav.navbar.menustream.navbar-expand li.submenu > a.nav-link {
    display: inline-flex;
    align-items: center;
  }
  nav.navbar.menustream.navbar-expand li.submenu > ul.dropdown-menu > li.dropdown-item {
    padding-left: var(--bs-dropdown-padding-x);
  }
  nav.navbar.menustream.navbar-expand li.submenu.dropinline > ul.dropdown-menu {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
  }
  nav.navbar.menustream.navbar-expand li.submenu.dropinline ul.dropdown-menu > li.dropdown-item {
    padding-left: 1em;
  }
  nav.navbar.menustream.navbar-expand div.navbar-collapse li.search-menu {
    position: static;
  }
  nav.navbar.menustream.navbar-expand div.navbar-collapse li.search-menu > a.nav-link > div.search-label {
    display: none;
  }
  nav.navbar.menustream.navbar-expand div.navbar-collapse li.search-menu > ul.dropdown-menu {
    margin-left: initial;
    padding: 0.3em 1em !important;
    position: absolute !important;
    width: min(30rem, 100%) !important;
  }
  nav.navbar.menustream.navbar-expand div.navbar-collapse li.search-menu > ul.dropdown-menu form {
    margin-block-end: 0em;
  }
}
@media (min-width: 576px) {
  nav.navbar.menustream.navbar-expand-sm {
    padding-right: 0.5rem;
  }
  nav.navbar.menustream.navbar-expand-sm > div.menustream-container {
    -moz-column-gap: clamp(0.2rem, 2%, 2rem);
         column-gap: clamp(0.2rem, 2%, 2rem);
  }
  nav.navbar.menustream.navbar-expand-sm ul.navbar-nav {
    max-width: 12rem;
    margin: 0.5rem 0;
  }
  nav.navbar.menustream.navbar-expand-sm li.nav-item > ul.dropdown-menu {
    box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    width: -moz-max-content;
    width: max-content;
    min-width: 12rem;
    max-width: 20rem;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }
  nav.navbar.menustream.navbar-expand-sm div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }
  nav.navbar.menustream.navbar-expand-sm li.nav-item {
    display: flex;
  }
  nav.navbar.menustream.navbar-expand-sm li.nav-item.active > a.nav-link {
    margin-bottom: unset;
  }
  nav.navbar.menustream.navbar-expand-sm a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  nav.navbar.menustream.navbar-expand-sm a.nav-link svg + div {
    margin-left: 0.2em;
  }
  nav.navbar.menustream.navbar-expand-sm li.submenu > ul.dropdown-menu {
    border-width: var(--bs-dropdown-border-width);
    padding-top: var(--bs-dropdown-padding-y);
    padding-bottom: var(--bs-dropdown-padding-y);
    margin-top: -0.5em;
  }
  nav.navbar.menustream.navbar-expand-sm li.dropdown-item.submenu > ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }
  nav.navbar.menustream.navbar-expand-sm li.submenu > a.nav-link {
    display: inline-flex;
    align-items: center;
  }
  nav.navbar.menustream.navbar-expand-sm li.submenu > ul.dropdown-menu > li.dropdown-item {
    padding-left: var(--bs-dropdown-padding-x);
  }
  nav.navbar.menustream.navbar-expand-sm li.submenu.dropinline > ul.dropdown-menu {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
  }
  nav.navbar.menustream.navbar-expand-sm li.submenu.dropinline ul.dropdown-menu > li.dropdown-item {
    padding-left: 1em;
  }
  nav.navbar.menustream.navbar-expand-sm div.navbar-collapse li.search-menu {
    position: static;
  }
  nav.navbar.menustream.navbar-expand-sm div.navbar-collapse li.search-menu > a.nav-link > div.search-label {
    display: none;
  }
  nav.navbar.menustream.navbar-expand-sm div.navbar-collapse li.search-menu > ul.dropdown-menu {
    margin-left: initial;
    padding: 0.3em 1em !important;
    position: absolute !important;
    width: min(30rem, 100%) !important;
  }
  nav.navbar.menustream.navbar-expand-sm div.navbar-collapse li.search-menu > ul.dropdown-menu form {
    margin-block-end: 0em;
  }
}
@media (min-width: 768px) {
  nav.navbar.menustream.navbar-expand-md {
    padding-right: 0.5rem;
  }
  nav.navbar.menustream.navbar-expand-md > div.menustream-container {
    -moz-column-gap: clamp(0.2rem, 2%, 2rem);
         column-gap: clamp(0.2rem, 2%, 2rem);
  }
  nav.navbar.menustream.navbar-expand-md ul.navbar-nav {
    max-width: 12rem;
    margin: 0.5rem 0;
  }
  nav.navbar.menustream.navbar-expand-md li.nav-item > ul.dropdown-menu {
    box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    width: -moz-max-content;
    width: max-content;
    min-width: 12rem;
    max-width: 20rem;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }
  nav.navbar.menustream.navbar-expand-md div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }
  nav.navbar.menustream.navbar-expand-md li.nav-item {
    display: flex;
  }
  nav.navbar.menustream.navbar-expand-md li.nav-item.active > a.nav-link {
    margin-bottom: unset;
  }
  nav.navbar.menustream.navbar-expand-md a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  nav.navbar.menustream.navbar-expand-md a.nav-link svg + div {
    margin-left: 0.2em;
  }
  nav.navbar.menustream.navbar-expand-md li.submenu > ul.dropdown-menu {
    border-width: var(--bs-dropdown-border-width);
    padding-top: var(--bs-dropdown-padding-y);
    padding-bottom: var(--bs-dropdown-padding-y);
    margin-top: -0.5em;
  }
  nav.navbar.menustream.navbar-expand-md li.dropdown-item.submenu > ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }
  nav.navbar.menustream.navbar-expand-md li.submenu > a.nav-link {
    display: inline-flex;
    align-items: center;
  }
  nav.navbar.menustream.navbar-expand-md li.submenu > ul.dropdown-menu > li.dropdown-item {
    padding-left: var(--bs-dropdown-padding-x);
  }
  nav.navbar.menustream.navbar-expand-md li.submenu.dropinline > ul.dropdown-menu {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
  }
  nav.navbar.menustream.navbar-expand-md li.submenu.dropinline ul.dropdown-menu > li.dropdown-item {
    padding-left: 1em;
  }
  nav.navbar.menustream.navbar-expand-md div.navbar-collapse li.search-menu {
    position: static;
  }
  nav.navbar.menustream.navbar-expand-md div.navbar-collapse li.search-menu > a.nav-link > div.search-label {
    display: none;
  }
  nav.navbar.menustream.navbar-expand-md div.navbar-collapse li.search-menu > ul.dropdown-menu {
    margin-left: initial;
    padding: 0.3em 1em !important;
    position: absolute !important;
    width: min(30rem, 100%) !important;
  }
  nav.navbar.menustream.navbar-expand-md div.navbar-collapse li.search-menu > ul.dropdown-menu form {
    margin-block-end: 0em;
  }
}
@media (min-width: 992px) {
  nav.navbar.menustream.navbar-expand-lg {
    padding-right: 0.5rem;
  }
  nav.navbar.menustream.navbar-expand-lg > div.menustream-container {
    -moz-column-gap: clamp(0.2rem, 2%, 2rem);
         column-gap: clamp(0.2rem, 2%, 2rem);
  }
  nav.navbar.menustream.navbar-expand-lg ul.navbar-nav {
    max-width: 12rem;
    margin: 0.5rem 0;
  }
  nav.navbar.menustream.navbar-expand-lg li.nav-item > ul.dropdown-menu {
    box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    width: -moz-max-content;
    width: max-content;
    min-width: 12rem;
    max-width: 20rem;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }
  nav.navbar.menustream.navbar-expand-lg div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }
  nav.navbar.menustream.navbar-expand-lg li.nav-item {
    display: flex;
  }
  nav.navbar.menustream.navbar-expand-lg li.nav-item.active > a.nav-link {
    margin-bottom: unset;
  }
  nav.navbar.menustream.navbar-expand-lg a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  nav.navbar.menustream.navbar-expand-lg a.nav-link svg + div {
    margin-left: 0.2em;
  }
  nav.navbar.menustream.navbar-expand-lg li.submenu > ul.dropdown-menu {
    border-width: var(--bs-dropdown-border-width);
    padding-top: var(--bs-dropdown-padding-y);
    padding-bottom: var(--bs-dropdown-padding-y);
    margin-top: -0.5em;
  }
  nav.navbar.menustream.navbar-expand-lg li.dropdown-item.submenu > ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }
  nav.navbar.menustream.navbar-expand-lg li.submenu > a.nav-link {
    display: inline-flex;
    align-items: center;
  }
  nav.navbar.menustream.navbar-expand-lg li.submenu > ul.dropdown-menu > li.dropdown-item {
    padding-left: var(--bs-dropdown-padding-x);
  }
  nav.navbar.menustream.navbar-expand-lg li.submenu.dropinline > ul.dropdown-menu {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
  }
  nav.navbar.menustream.navbar-expand-lg li.submenu.dropinline ul.dropdown-menu > li.dropdown-item {
    padding-left: 1em;
  }
  nav.navbar.menustream.navbar-expand-lg div.navbar-collapse li.search-menu {
    position: static;
  }
  nav.navbar.menustream.navbar-expand-lg div.navbar-collapse li.search-menu > a.nav-link > div.search-label {
    display: none;
  }
  nav.navbar.menustream.navbar-expand-lg div.navbar-collapse li.search-menu > ul.dropdown-menu {
    margin-left: initial;
    padding: 0.3em 1em !important;
    position: absolute !important;
    width: min(30rem, 100%) !important;
  }
  nav.navbar.menustream.navbar-expand-lg div.navbar-collapse li.search-menu > ul.dropdown-menu form {
    margin-block-end: 0em;
  }
}
@media (min-width: 1200px) {
  nav.navbar.menustream.navbar-expand-xl {
    padding-right: 0.5rem;
  }
  nav.navbar.menustream.navbar-expand-xl > div.menustream-container {
    -moz-column-gap: clamp(0.2rem, 2%, 2rem);
         column-gap: clamp(0.2rem, 2%, 2rem);
  }
  nav.navbar.menustream.navbar-expand-xl ul.navbar-nav {
    max-width: 12rem;
    margin: 0.5rem 0;
  }
  nav.navbar.menustream.navbar-expand-xl li.nav-item > ul.dropdown-menu {
    box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    width: -moz-max-content;
    width: max-content;
    min-width: 12rem;
    max-width: 20rem;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }
  nav.navbar.menustream.navbar-expand-xl div.collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }
  nav.navbar.menustream.navbar-expand-xl li.nav-item {
    display: flex;
  }
  nav.navbar.menustream.navbar-expand-xl li.nav-item.active > a.nav-link {
    margin-bottom: unset;
  }
  nav.navbar.menustream.navbar-expand-xl a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  nav.navbar.menustream.navbar-expand-xl a.nav-link svg + div {
    margin-left: 0.2em;
  }
  nav.navbar.menustream.navbar-expand-xl li.submenu > ul.dropdown-menu {
    border-width: var(--bs-dropdown-border-width);
    padding-top: var(--bs-dropdown-padding-y);
    padding-bottom: var(--bs-dropdown-padding-y);
    margin-top: -0.5em;
  }
  nav.navbar.menustream.navbar-expand-xl li.dropdown-item.submenu > ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }
  nav.navbar.menustream.navbar-expand-xl li.submenu > a.nav-link {
    display: inline-flex;
    align-items: center;
  }
  nav.navbar.menustream.navbar-expand-xl li.submenu > ul.dropdown-menu > li.dropdown-item {
    padding-left: var(--bs-dropdown-padding-x);
  }
  nav.navbar.menustream.navbar-expand-xl li.submenu.dropinline > ul.dropdown-menu {
    position: relative;
    width: 100% !important;
    border: 0;
    box-shadow: none;
  }
  nav.navbar.menustream.navbar-expand-xl li.submenu.dropinline ul.dropdown-menu > li.dropdown-item {
    padding-left: 1em;
  }
  nav.navbar.menustream.navbar-expand-xl div.navbar-collapse li.search-menu {
    position: static;
  }
  nav.navbar.menustream.navbar-expand-xl div.navbar-collapse li.search-menu > a.nav-link > div.search-label {
    display: none;
  }
  nav.navbar.menustream.navbar-expand-xl div.navbar-collapse li.search-menu > ul.dropdown-menu {
    margin-left: initial;
    padding: 0.3em 1em !important;
    position: absolute !important;
    width: min(30rem, 100%) !important;
  }
  nav.navbar.menustream.navbar-expand-xl div.navbar-collapse li.search-menu > ul.dropdown-menu form {
    margin-block-end: 0em;
  }
}
div.menustream.menu-spacer {
  height: calc(2rem + clamp(26px, 26px + 29 * (100vw - 375px) / 1125, 55px));
}/*# sourceMappingURL=menu.css.map */