/* navbar */
.navbar.menustream {
  font-family: var(--font-family-headings) !important;
  font-size: var(--font-size-5) !important;
  font-weight: 500 !important;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
}

.navbar-brand.menustream {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-4);
  font-weight: 600;
}

.navbar-brand.menustream img {
  margin: 0 0.2em 0.2em 0;
}

/* nav-item nav-link */

.nav-item.menustream .nav-link.active {
  color: antiquewhite;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.nav-item.menustream .nav-link:hover {
  color: white;
}

.nav-item.menustream .nav-link {
  color: linen;
}

.nav-link.menustream div {
  display: inline-block;
}

.nav-link.menustream img {
  margin-right: .5em;
}

/* dropdown-menu */
.dropdown-menu.menustream {
  box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
  width: auto;
}

/* dropdown-item */
.dropdown-item.menustream {
  white-space: unset;
  padding: 0.25em 1em 0.25em 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  display:flex;
  align-items: center;
}

.dropdown-item.menustream.active {
  background-color: lightslategray;
}

.dropdown-item.menustream .nav-link {
  color: var(--bs-dark);
  padding: unset;
  display: flex;
  align-items: center;
}

.dropdown-item.menustream .nav-link.active {
  color: unset;
  border-bottom-style: unset;
}

.dropdown-item.menustream .nav-link:hover {
  color: unset;
}

.dropdown-item.menustream img {
  margin-right: 0.5em;
}

/* dropend dropstart */

.dropstart.menustream a[role="button"],
.dropend.menustream a[role="button"] {
  display: flex;
  align-items: center;
}

.dropstart.menustream a[role="button"] div,
.dropend.menustream a[role="button"] div {
  display: inline-block;
}

/* pre-breakpoint */
.dropstart.menustream .dropdown-toggle::before {
  display: none;
}

.dropstart.menustream .dropdown-toggle::after,
.dropend.menustream .dropdown-toggle::after {
  display: inline-block;
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

.dropstart.menustream .dropdown-menu,
.dropend.menustream .dropdown-menu {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
}

/* above breakpoint */
@media (min-width: 768px) {

  .nav-item.menustream-md {
    display: flex;
  }

  .nav-link.menustream-md {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }

  .dropstart.menustream-md .dropdown-toggle::before {
    margin-right: 10px;
    margin-left: -18px;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.4em solid transparent;
    border-right: 0.4em solid;
    border-bottom: 0.4em solid transparent;
    display: inline-block;
  }

  .dropstart.menustream-md .dropdown-toggle::after {
    display: none;
  }

  .dropend.menustream-md .dropdown-toggle::after {
    border-top: 0.4em solid transparent;
    border-right: 0;
    border-bottom: 0.4em solid transparent;
    border-left: 0.4em solid;
  }

  .dropstart.menustream-md .dropdown-menu[data-bs-popper] {
    margin-right: -5px;
  }

  .dropend.menustream-md .dropdown-menu[data-bs-popper] {
    margin-left: -5px;
  }

  .menustream-md.dropdown-menu-w20 {
    width: max-content !important;
    max-width: 20rem;
  }

}

@media (min-width: 992px) {

  .nav-item.menustream-lg {
    display: flex;
  }

  .nav-link.menustream.menustream-lg {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }

  .dropstart.menustream-lg .dropdown-toggle::before {
    margin-right: 10px;
    margin-left: -18px;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.4em solid transparent;
    border-right: 0.4em solid;
    border-bottom: 0.4em solid transparent;
    display: inline-block;
  }

  .dropstart.menustream-lg .dropdown-toggle::after {
    display: none;
  }

  .dropend.menustream-lg .dropdown-toggle::after {
    border-top: 0.4em solid transparent;
    border-right: 0;
    border-bottom: 0.4em solid transparent;
    border-left: 0.4em solid;
  }

  .dropstart.menustream-lg .dropdown-menu[data-bs-popper] {
    margin-right: -5px;
  }

  .dropend.menustream-lg .dropdown-menu[data-bs-popper] {
    margin-left: -5px;
  }

  .menustream-lg.dropdown-menu-w20 {
    width: max-content !important;
    max-width: 20rem;
  }

}