<div class="toast-container post-link-toast position-fixed bottom-0 end-0 p-3">
    <div id="copyToast"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-theme="dark">
        <div class="d-flex align-items-center">
            <div class="toast-body text-light">
                <span class="post-toast-icon">
                    <svg>
                        <use href="#icon-share"></use>
                    </svg>
                </span>
                <span class="h6 text-light ms-1 me-2">Link copied to clipboard</span>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>