{% extends "base.html" %}
{% load static %} 
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <script src="{% static 'js/post-list.js' %}"></script>
    <link href="{% static 'css/quill-rich-text.css' %}" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
{% endblock extra_head %}
{% block content %}
{% with post=object %}
<div class="px-2">
    {% include "posts/post-item.html" %}
</div>
{% endwith %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        hljs.highlightAll();
    });
</script>
{% endblock content %}