{% extends "posts/base-card.html" %}
{% block card-header %}
    <h3 class="p-0 m-0">{% if post %}Edit Post{% else %}Create a New Post{% endif %}</h3>
{% endblock card-header %}
{% block card-body %}
    <form method="post" id="PostForm" class="post-form" data-max-payload={{ self.post_payload_limit }}>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        {% with field=form.title %}
            {% include "posts/form-field.html" %}
        {% endwith %}
        <div class="p-2"></div>
        {% with field=form.content %}
            {% include "posts/form-field.html" %}
        {% endwith %}
        <div class="p-2"></div>
        <div class="modal fade"
             id="payloadModal"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h2 class="modal-title fs-5" id="staticBackdropLabel">Maximum Size Exceeded</h2>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Post size <span id="payloadSize"></span>MB exceeds the <span id="maxPayloadSize"></span>MB limit.
                        </p>
                        <p>Please reduce the size.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pt-4 row">
        <div class="col">
            <a href="{{ self.url }}{% if post %}with/{{ post.id }}/{% endif %}"
               class="btn btn-outline-danger">Cancel</a>
        </div>
        <div class="col text-end">
            <button type="submit" class="btn btn-primary" form="PostForm">
                {% if post %}
                    Save Changes
                {% else %}
                    Create Post
                {% endif %}
            </button>
        </div>
    </div>
{% endblock card-body %}
{% block card-footer %}
    {% if post %}
        <div class="card-footer">
            <div class="row">
                <div class="col-auto my-auto">
                    <a href="{{ self.url }}{{ post.id }}/delete/"
                       class="btn btn-danger btn-sm">Delete Post</a>
                </div>
                <div class="col text-end">
                    <span class="h6 text-muted">
                        Created by {{ post.author }}, <span class="localise-date">{{ post.first_published_at|date:'Y-m-d H:i:s' }} UTC</span>
                        {% if post.first_published_at != post.last_published_at %}
                            <br>
                            Last updated <span class="localise-date">{{ post.last_published_at|date:'Y-m-d H:i:s' }} UTC</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% endif %}
    <script>localiseDates("localise-date")</script>
{% endblock card-footer %}
