<ul class="tagit ui-widget ui-widget-content ui-corner-all m2m-chooser-chosen">
</ul>
<div class="m2m-chooser-open-modal-button-container">
    <button class="button m2m-chooser-open-modal-button" type="button">{{ m2m_field_panel.select_button_text }}</button>
</div>
<!-- M2M Field Panel Modal form -->
<div class="modal-backdrop m2m-chooser-modal">
    <div id="m2m-chooser-modal-form"
         class="modal-content modal-body m2m-chooser-modal-form">
        <header class="w-header w-header--merged">
            <div>
                <div class="left">
                    <div class="col">
                        <h1 class="w-header__title m2m-chooser-modal-heading" id="header-title">
                            <svg class="icon m2m-chooser-modal-heading-icon" aria-hidden="true">
                                <use href="#icon-tasks"></use>
                            </svg>
                            {{ self.heading }}
                        </h1>
                    </div>
                </div>
                <div class="right">
                    <button type="button" 
                            class="button close button--icon text-replace m2m-chooser-modal-dismiss" 
                            title={{ m2m_field_panel.cancel_text }}>
                        <svg class="icon icon-cross" aria-hidden="true">
                            <use href="#icon-cross"></use>
                        </svg>
                        {{ m2m_field_panel.cancel_text }}
                    </button>
                </div>
            </div>
        </header>
        <div class="modal-body m2m-chooser-modal-body">
            <input type="text"
                   placeholder="{{ m2m_field_panel.search_text }} {{ self.heading }}"
                   class="m2m-chooser-modal-search" />
            <div class="m2m-chooser-modal-content-container">
                <div class="m2m-chooser-modal-content">
                    <div class="m2m-chooser-modal-select"></div>
                </div>
            </div>
            <div style="text-align: right;">
                <button type="submit" class="button m2m-chooser-modal-submit">{{ m2m_field_panel.submit_button_text }}</button>
            </div>
        </div>
    </div>
</div>
<script>
	{% autoescape off %}
	//initialiseM2MFieldPanel({{m2m_field_panel}});
	new M2MPanel({{m2m_field_panel}});
	{% endautoescape %}
</script>
