div.quill-widget-container {
    --quill-border-radius: 0.3125rem;
    --quill-toolbar-top-small-screen: calc(0.2rem + 100px);
    --quill-toolbar-top-regular-screen: calc(0.2rem + 51px);
    --quill-toolbar-background: ivory;
    --quill-editor-background: white;
    --quill-editor-min-height: 12rem;
    border-radius: var(--quill-border-radius);
}

/* add Wagtail focus border to entire widget */
div.w-field__input>div.quill-widget-container:has(div.ql-editor:focus-visible) {
    outline: 3px solid var(--w-color-focus)!important;
}
/* wagtail editor page style - quill not compatible with dark style */
div.w-field__input>div.quill-widget-container>div.ql-toolbar {
    border-radius: var(--quill-border-radius) var(--quill-border-radius) 0 0;
    background-color: #F0F0F0;

}

div.w-field__input>div.quill-widget-container>div.quill-widget {
    border-radius: 0 0 var(--quill-border-radius) var(--quill-border-radius);
}
div.w-field__input>div.quill-widget-container>div.quill-widget>div.ql-editor {
    border-radius: 0 0 var(--quill-border-radius) var(--quill-border-radius);
    min-height: var(--quill-editor-min-height);
    background-color: white;
    color: black;
}
div.w-field__input>div.quill-widget-container>div.quill-widget>div.ql-editor:focus-visible {
    outline: 0 !important;
}
