div.ql-toolbar span.ql-insert-better-table-plus>span.ql-picker-label {
    margin-inline-start: 5px;
    width: 18px;
    height: 18px;
}
div.ql-toolbar span.ql-insert-better-table-plus>span.ql-picker-label>svg {
    margin-top: -5px !important;
}
div.ql-toolbar span.ql-insert-better-table-plus>span.ql-picker-label.ql-active .ql-stroke {
    stroke: #444;
}

div.ql-toolbar span.ql-insert-better-table-plus>span.ql-picker-label.ql-active:hover .ql-stroke {
    stroke: #06c;
}

div.ql-toolbar span.ql-insert-better-table-plus span.ql-picker-options {
    padding: 3px 5px;
}
div.ql-toolbar span.ql-insert-better-table-plus.ql-expanded span.ql-picker-label {
    border: 0;
}
div.ql-toolbar span.ql-insert-better-table-plus.ql-expanded span.ql-picker-options {
    display: grid;
}

div.ql-toolbar span.ql-insert-better-table-plus .ql-picker-item {
    border: 1px solid transparent;
    float: left;
    height: 16px;
    margin: 2px;
    padding: 0px;
    width: 16px;
    background: lightsteelblue;
}

div.ql-toolbar span.ql-insert-better-table-plus .ql-picker-item:hover,
div.ql-toolbar span.ql-insert-better-table-plus .ql-picker-item.ql-picker-item-highlight {
    border-color: #000;
    background: steelblue;
}

div.ql-toolbar span.ql-insert-better-table-plus.ql-picker {
    width: 28px;
}

div.ql-toolbar span.ql-insert-better-table-plus.ql-picker .ql-picker-label {
    padding: 2px 4px;
}

/* editor table border sstyle */
table.quill-better-table td {
    border: 1px dashed #ccc;
}
