{% load wagtailcore_tags wagtailimages_tags menu_tags %}
{% display_item as show %}
{% if show %}
    {% get_autofill_pages as links %}
    <li class="nav-item dropdown menustream menustream-{{ menu.slug }}">
        <a class="nav-link dropdown-toggle menustream menustream-{{ menu.slug }}"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            {% if self.icon %}
                {% image self.icon fill-25x25 %}
            {% endif %}
            <div>{{ self.title }}</div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-{{ menu.breakpoint }}-w20 menustream menustream-{{ menu.slug }}">
            {% include "menu/autolink_block.html" %}
        </ul>
    </li>
{% endif %}
