{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{# pass menu object variable in context #}

<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>

<nav class="navbar navbar-expand-{{ menu.breakpoint }} navbar-dark bg-dark p-1 menustream menustream-{{ menu.slug }}">
  
    <div class="p-0">
      <a class="navbar-brand menustream menustream-{{ menu.breakpoint }} menustream-{{ menu.slug }}" href="{{ self.get_site.root_page.url }}">
        {% if menu.logo %}{% image menu.logo height-30 %}{% endif %}<span>{{ menu.title }}</span>
      </a>
    </div>
    <button 
        class="navbar-toggler menu-toggler-{{ menu.slug }}" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbar-{{ menu.slug }}"  
        aria-controls="navbar-{{ menu.slug }}" 
        aria-expanded="false" 
        aria-label="Toggle navigation" 
        onclick="document.activeElement.blur();">
        <span class="navbar-toggler-icon menustream menustream-{{ menu.breakpoint }} menustream-{{ menu.slug }}"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end pe-4 pe-{{ menu.breakpoint }}-1" id="navbar-{{ menu.slug }}">
      <ul class="navbar-nav menustream menustream-{{ menu.breakpoint }} menustream-{{ menu.slug }} ps-2 ps-lg-0">
        {% for item in menu.items %}
          {% include_block item with link_type='nav-item' %}
        {% endfor %}
      </ul>
    </div>
  
</nav>
