{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.intro|richtext }}</p>
    <form method="POST" id="deleteForm" action="{% slugurl 'products' %}delete/">
        {% csrf_token %}
        {% for product in products %}
            <input type="checkbox"
                   value="{{ product.id }}"
                   data-strip-naam="{{ product.title }}"
                   name="productIDs[]" />
            <h4 class="d-inline">
                <a href="{{ page.url }}{{ product.sku }}">{{ product }}</a>
            </h4>
            <br>
        {% endfor %}
        <button class="btn btn-danger mt-2 d-flex ms-auto"
                id="deleteButton"
                type="submit"
                onclick="openModal(event)"
                data-bs-toggle="modal"
                data-bs-target="#confirmModal"
                disabled>Delete</button>
    </form>
    <!-- Modal -->
    <div class="modal fade"
         id="confirmModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="confirmModalLabel">Confirm Delete</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="modal-title fs-5">The following products will be deleted:</h2>
                    <ul id="confirmModalList">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="modalContinue" onclick="deleteForm.submit();">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const openModal = (e) => {
            e.preventDefault();
            const modalList = document.getElementById('confirmModalList');
            modalList.innerHTML = '';
            deleteForm.querySelectorAll('input[name="productIDs[]"]:checked').forEach((checkbox) => {
                const listItem = document.createElement('li');
                listItem.textContent = checkbox.dataset.stripNaam;
                modalList.appendChild(listItem);
            });
        };
        const enableDeleteButton = (event) => {
            if (event.target.type === 'checkbox' && event.target.name === 'productIDs[]') {
                deleteButton.disabled = ![...checkboxes].some(checkbox => checkbox.checked);
            }
        };
        const checkboxes = document.querySelectorAll('input[name="productIDs[]"]');
        const deleteButton = document.getElementById('deleteButton');
        const deleteForm = document.getElementById('deleteForm')
        deleteForm.addEventListener('change', enableDeleteButton);
    </script>
{% endblock content %}
