{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_head %}
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
        td.gridjs-td[data-column-id="image"] {
            padding: 0.3rem;
            text-align: center;
        }
        div#product-table {
            padding: 2rem;
        }
        td.gridjs-td p {
            margin: 0;
        }
        td.gridjs-td p+p {
            margin-top: 0.5em;
        }
    </style>
{% endblock extra_head %}
{% block content %}
    <div class="article-body">
        <h1>{{ page.title }}</h1>
        <p>{{ page.intro|richtext }}</p>
        <div id="product-table"></div>
    </div>
    <script>
        const loadTable = () => {
            const tableDiv = document.getElementById("product-table");
            const grid = new gridjs.Grid({
                columns: [
                    {id: 'image', name: '', formatter: (cell) => gridjs.html(cell), sort: false}, 
                    {id: 'title', name: 'Title', formatter: (_, row) => gridjs.html(`<a href='{{self.url}}${row.cells[2].data}/'>${row.cells[1].data}</a>`)}, 
                    'SKU', 
                    {id: 'description', name: 'Description', formatter: (cell) => gridjs.html(cell)}, 
                ],
                sort: true,
                data: {% autoescape off %}{{ rows }}{% endautoescape %}
                // server: {
                // url: 'http://localhost:8000/products/api/list/',
                // then: data => data.rows.map(item => [item.image, item.title, item.sku, item.description])
                // } 
            });
            grid.render(tableDiv);
        }
    </script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" onload="loadTable()"></script>

{% endblock content %}
