$menustream-font-family: "Quicksand", sans-serif;
$menustream-brand-height: clamp(26px, calc(26px + (55 - 26) * ((100vw - 375px) / (1500 - 375))), 55px);
$menustream-navbar-brand-font-size: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
$menustream-navbar-brand-font-weight: 600 !important;
$menustream-navbar-item-font-size: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
$menustream-navbar-item-font-weight: 500 !important;
$menustream-navbar-background-color: var(--bs-body-bg);
$menustream-navbar-active-color: var(--bs-navbar-active-color);
$menustream-navbar-nav-max-width: 12rem;
$menustream-nav-link-color: var(--bs-nav-link-color);
$menustream-nav-link-hover-color: var(--bs-nav-link-hover-color);
$menustream-dropdown-font-size: var(--bs-dropdown-font-size);
$menustream-dropdown-font-weight: 500;
$menustream-dropdown-menu-box-shadow: 8px 13px 5px -5px rgba(0, 0, 0, 0.2);
$menustream-dropdown-menu-border-width: var(--bs-dropdown-border-width);
$menustream-dropdown-menu-padding-y: var(--bs-dropdown-padding-y);
$menustream-dropdown-menu-padding-x: var(--bs-dropdown-padding-x);
$menustream-dropdown-item-active-background-color: var(--bs-secondary-bg);
$menustream-dropdown-item-hover-background-color: var(--bs-secondary-bg);
$menustream-dropdown-min-width: 12rem;
$menustream-dropdown-max-width: 20rem;
$menustream-search-menu-expanded-width: min(30rem, 100%) !important;
$menustream-search-menu-expanded-padding: 0.3em 1em !important;
$menustream-search-menu-expanded-top: calc(0.7em + $menustream-brand-height) !important;
$menustream-search-menu-expanded-left: clamp(0.01px, calc(100% - 30rem), 100%) !important;
$menustream-search-menu-expanded-border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
$menustream-scrollbar-background-color: var(--bs-body-bg);
$menustream-scrollbar-thumb-background-color: var(--bs-gray);
$menustream-scrollbar-thumb-background-hover-color: var(--bs-gray-500);
$menustream-scrollbar-thumb-border-radius: 8px;
$menustream-scrollbar-thumb-box-shadow: inset 0 0 6px var(--bs-body-bg);
$menustream-scrollbar-width: 10px;

// a comment
nav.navbar.menustream {
  font-family: $menustream-font-family !important;
  background-color: $menustream-navbar-background-color;
  top: 0;
  z-index: 1020;
  width: 100%;
  padding: 0.25rem;
  position: fixed !important;

  >div.menustream-container {
    row-gap: clamp(0.2rem, 2%, 2rem);
    column-gap: 0.5em;
    padding-right: 0.25rem !important;
    justify-content: space-evenly !important;
    max-height: 95vh;
  }

  a.navbar-brand {
    font-size: $menustream-navbar-brand-font-size;
    font-weight: $menustream-navbar-brand-font-weight;
    display: flex;
    align-items: center;

    >img {
      height: $menustream-brand-height;
    }
  }

  ul.navbar-nav {
    text-wrap: wrap;
  }

  li.nav-item {
    >a.nav-link {
      border-bottom: 1px solid transparent;
      width: fit-content;
      fill: $menustream-nav-link-color;
      padding: 0;
      text-wrap: wrap;
      font-size: $menustream-navbar-item-font-size !important;
      font-weight: $menustream-navbar-item-font-weight;
    
      &:hover {
        fill: $menustream-nav-link-hover-color;
      }

      &.show {
        fill: $menustream-navbar-active-color;
      }
    }

    &.active>a.nav-link {
      border-bottom-color: unset;
      fill: $menustream-navbar-active-color;
      margin-bottom: 0.3em;
    }

    > {
      a.nav-link>div {
        display: inline-flex;
      }

      ul.dropdown-menu {
        margin-top: 0.5em;
        padding-bottom: 1em;
      }

    }
  }

  div.collapse {
    >ul.navbar-nav>li.nav-item.dropdown>a.nav-link.dropdown-toggle {
      &::after {
        transform: rotate(-90deg);
      }

      &.show::after {
        transform: rotate(0deg);
      }
    }
  }

  div.sticky>ul.navbar-nav>li.nav-item.dropdown>ul.dropdown-menu {
    position: absolute;
    width: max-content;
    max-width: $menustream-dropdown-max-width;
    max-height: 85vh;
    overflow-y: auto;
  }

  ul {

    .dropdown-menu>li.dropdown-item {
      white-space: unset;
      line-height: 1.2;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;

      &:active {
        background-color: $menustream-dropdown-item-hover-background-color;
      }

      &.nav-label:hover {
        background-color: unset;
      }

      >a.nav-link {
        display: flex;
        align-items: center;
        padding-bottom: 0.3em;
        width: -webkit-fill-available;
        font-weight: $menustream-dropdown-font-weight;
        font-size: $menustream-dropdown-font-size;
        text-wrap: wrap;
      }

      &.active {
        background-color: $menustream-dropdown-item-active-background-color;

        >a.nav-link>div::after {
          content: "🗸";
          padding-left: 0.5em;
        }
      }
    }
  }

  a.nav-link>img+div {
    margin-left: 0.5rem;
  }

  a.nav-link svg {
    width: 1em;
    height: 1em;
  }

  ul.dropdown-menu>li.submenu>a.dropdown-toggle>div {
    display: inline-flex;
  }

  li.dropdown-item.submenu {
    padding-right: 0;
  }

  li.submenu {
    > {
      ul.dropdown-menu {
        border-width: 0;
        padding-top: 0;
        padding-bottom: 1em;

        >li.dropdown-item {
          padding-left: 1.5em;
        }
      }

      a.nav-link {
        &.show::after {
          transform: rotate(90deg);
        }

        &::after {
          display: inline-block;
          margin: 0 0.5em;
          vertical-align: 0;
          content: "";
          border-top: 0.4em solid transparent;
          border-right: 0;
          border-bottom: 0.4em solid transparent;
          border-left: 0.4em solid;
        }
      }
    }

    &.dropinline ul.dropdown-menu {
      background-color: transparent;

      li:hover {
        background-color: $menustream-dropdown-item-hover-background-color;
      }
    }
  }

  li.search-menu {
    position: static;

    >ul.dropdown-menu {
      padding: $menustream-search-menu-expanded-padding;
      margin-top: 0 !important;
      position: absolute !important;
      top: $menustream-search-menu-expanded-top;
      width: $menustream-search-menu-expanded-width;
      left: $menustream-search-menu-expanded-left;
      border: 0;
      border-radius: $menustream-search-menu-expanded-border-radius;
      max-width: unset !important;

      form {
        margin-block-end: 0;
      }
    }
  }

  div.navbar-collapse li.search-menu {
    position: relative;

    >ul.dropdown-menu {
      margin-left: 2rem;
      border: 0;
      padding: 0 !important;
      position: unset !important;
      width: unset !important;

      form {
        margin-block-end: 0.5em;
      }
    }
  }

  div.sticky li.search-menu>a.nav-link>div.search-label {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $menustream-scrollbar-thumb-background-color;
    border-radius: $menustream-scrollbar-thumb-border-radius;
    box-shadow: $menustream-scrollbar-thumb-box-shadow;
  }

  ::-webkit-scrollbar-track {
    background-color: $menustream-scrollbar-background-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $menustream-scrollbar-thumb-background-hover-color;
  }
}


@mixin menustream-expanded-styles() {

  padding-right: 0.5rem;

  >div.menustream-container {
    column-gap: clamp(0.2rem, 2%, 2rem);
  }

  ul.navbar-nav {
    max-width: $menustream-navbar-nav-max-width;
    margin: 0.5rem 0;
  }

  li.nav-item>ul.dropdown-menu {
    box-shadow: $menustream-dropdown-menu-box-shadow;
    background-clip: border-box;
    width: max-content;
    min-width: $menustream-dropdown-min-width;
    max-width: $menustream-dropdown-max-width;
    margin-right: 0;
    max-height: 85vh;
    overflow-y: auto;
  }

  div.collapse>ul.navbar-nav>li.nav-item.dropdown>a.nav-link.dropdown-toggle::after {
    transform: rotate(0deg);
  }

  li.nav-item {
    display: flex;

    &.active>a.nav-link {
      margin-bottom: unset;
    }
  }

  a.nav-link {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }

  a.nav-link svg+div {
    margin-left: 0.2em;
  }

  li.submenu>ul.dropdown-menu {
    border-width: $menustream-dropdown-menu-border-width;
    padding-top: $menustream-dropdown-menu-padding-y;
    padding-bottom: $menustream-dropdown-menu-padding-y;
    margin-top: -0.5em;
  }

  li.dropdown-item.submenu>ul.dropdown-menu {
    padding-bottom: 0 !important;
    padding-top: 0.5em !important;
  }

  li.submenu {
    > {
      a.nav-link {
        display: inline-flex;
        align-items: center;
      }

      ul.dropdown-menu>li.dropdown-item {
        padding-left: $menustream-dropdown-menu-padding-x;
      }
    }

    &.dropinline {
      >ul.dropdown-menu {
        position: relative;
        width: 100% !important;
        border: 0;
        box-shadow: none;
      }

      ul.dropdown-menu>li.dropdown-item {
        padding-left: 1em;
      }
    }
  }

  div.navbar-collapse li.search-menu {
    position: static;

    >a.nav-link>div.search-label {
      display: none;
    }

    >ul.dropdown-menu {
      margin-left: initial;
      padding: $menustream-search-menu-expanded-padding;
      position: absolute !important;
      width: $menustream-search-menu-expanded-width;

      form {
        margin-block-end: 0em;
      }
    }
  }
}

$breakpoints: (
  0px: '',
  576px: '-sm',
  768px: '-md',
  992px: '-lg',
  1200px: '-xl'
);

@each $breakpoint, $suffix in $breakpoints {
  @media (min-width: #{$breakpoint}) {
    nav.navbar.menustream.navbar-expand#{$suffix} {
      @include menustream-expanded-styles;
    }
  }
}

div.menustream.menu-spacer {
  height: calc(2rem + $menustream-brand-height);
}