{% load wagtailcore_tags menu_tags %}

{% display_item as show %}
{% if show %}
    {% get_autofill_pages as links %}
    {% for link in links %}
        <li class="{{link_type}} menu-{{menu.slug}} {{ link.active }}">
            <a class="nav-link menu-{{menu.slug}} {{ link.active }}" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% if forloop.first and self.include_parent_page %}
            <li><hr class="dropdown-divider"></li>
        {% endif %}
    {% endfor %}
{% endif %}
