{% load wagtailcore_tags menu_tags %}

{% display_item as show %}
{% if show %}
    <li class="nav-item dropdown menu-{{menu.slug}}">
        <a class="nav-link dropdown-toggle menu-{{menu.slug}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ self.svg }}{{ self.title }}
        </a>
        <ul class="dropdown-menu menu-{{menu.slug}}">
            {% for item in self.links %}
                {% include_block item with context=context link_type="dropdown-item" link_colour="link-dark" %}
            {% endfor %}
        </ul>
    </li>
{% endif %}