/* static/css/import-text-block.css */

.import-text-block .w-field__wrapper {
    margin-bottom: 0.5rem;
}

.import-text-block textarea {
    max-height: 25em;
    overflow-y: auto !important;
}

.import-text-block .help {
    padding-top: 0.3rem;
}

.import-text-block-fileinput {
    width: 10em !important;
    border: 0 !important;
    padding: 0 !important;
    margin-right: 1rem;
}

.import-text-block-fileinput::file-selector-button {
    width: 10em;
    padding: 0.3rem;
    border: 0;
    border-radius: 5px;
}

.import-text-block-fileinput-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem 0 1rem 0;
}