div.struct-block.code-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}
/* set title to min width 300px */
div.struct-block.code-block div[data-contentpath="title"] {
    flex-grow: 1;
    flex-basis: 300px;
}
/* set code to full width */
div.struct-block.code-block div[data-contentpath="code"] {
    flex-basis: 100%;
}
/* set font style on textarea */
div.struct-block.code-block div[data-contentpath="code"] textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}