/* map & waypoint blocks */
div.map-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-auto-rows: auto; /* Automatically determine row heights */
  column-gap: 2rem;
}

div.map-waypoint-block>div[data-contentpath="gps_coord"] {
  flex-basis: 100%;
}

div.map-waypoint-block>div[data-contentpath="show_pin"] {
  flex-grow: 0;
}

div.map-block>div[data-contentpath="waypoints"],
div.map-block>div[data-contentpath="padding_help"] {
  grid-column: span 4;
}

div.map-block>div[data-contentpath="route_type"],
div.map-block>div[data-contentpath="show_route_info"],
div.map-block>div[data-contentpath="pitch"],
div.map-block>div[data-contentpath="bearing"],
div.map-block>div[data-contentpath="height"],
div.map-block>div[data-contentpath="style"] {
  grid-column: span 2;
}

div.map-block>div[data-contentpath="route_type"] select {
  font-size: 0.9em;
}

div.map-block>div[data-contentpath="route_type"] select,
div.map-block>div[data-contentpath="style"] select {
  width: 100%;
}

@media (max-width: 680px) {
  div.map-block>div[data-contentpath="padding_top"],
  div.map-block>div[data-contentpath="padding_right"],
  div.map-block>div[data-contentpath="padding_bottom"],
  div.map-block>div[data-contentpath="padding_left"] {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  div.map-block>div[data-contentpath] {
    grid-column: span 4;
  }
}