.Draftail-Toolbar {
    position: sticky !important;
    top: calc(1rem + 51px) !important;
    z-index: 2 !important;
  }
  .text-start, .Draftail-block--left-align .public-DraftStyleDefault-ltr {
    text-align: start;
  }
  .text-center, .Draftail-block--centre-align .public-DraftStyleDefault-ltr {
    text-align: center;
  }
  .text-end, .Draftail-block--right-align .public-DraftStyleDefault-ltr {
    text-align: end;
  }
  .Draftail-ToolbarGroup {
    /* allow toolbar button groups to wrap */
    display: contents;
  }
  .w-panel.title:first-child input:not(:hover,:focus,[aria-invalid=true]) {
    border-color: #5555
  }
  
  code {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-6);
    text-align: left !important;
    color: darkslateblue;
    background-color: wheat;
    padding: 0.06rem 0.3rem;
    border-radius: 0.3rem;
  }