:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Roboto Mono", "Courier New", monospace;
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
}

html {
  scroll-padding-bottom: 60px;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
}

.Draftail-block--h1_class ,
.Draftail-block--h2_class ,
.Draftail-block--h3_class ,
.Draftail-block--h4_class ,
.Draftail-block--h5_class ,
.Draftail-block--h6_class ,
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.Draftail-block--h1_class ,
h1 {
  font-size: var(--font-size-1);
}

.Draftail-block--h2_class ,
h2 {
  font-size: var(--font-size-2);
  padding: 0.35rem 0;
}

.Draftail-block--h3_class,
h3 {
  font-size: var(--font-size-3);
  padding: 0.25rem 0;
}

.Draftail-block--h4_class ,
h4 {
  font-size: var(--font-size-4);
  padding: 0.15rem 0;
}

.Draftail-block--h5_class ,
h5 {
  font-size: var(--font-size-5);
  padding: 0.125rem 0 !important;
}

.Draftail-block--h6_class ,
h6 {
  font-size: var(--font-size-6);
  padding: 0.1rem 0 !important;
}

.p,
p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  text-align: justify;
}

.Draftail-Toolbar {
  position: sticky !important;
  top: calc(0.2rem + 51px) !important;
  z-index: 2 !important;
}
@media screen and (max-width: 800px) {
  .Draftail-Toolbar {
    /* double top height when top menu wraps at 800px */
    top: calc(0.2rem + 100px) !important;
  }
}
.text-start,
.Draftail-block--left-align .public-DraftStyleDefault-ltr {
  text-align: start;
}

.text-center,
.Draftail-block--centre-align .public-DraftStyleDefault-ltr {
  text-align: center;
}

.text-end,
.Draftail-block--right-align .public-DraftStyleDefault-ltr {
  text-align: end;
}

.Draftail-ToolbarGroup, .tab-content--comments-enabled .Draftail-CommentControl {
  /* allow toolbar button groups to wrap */
  display: contents !important;
}

.w-panel.title:first-child input:not(:hover, :focus, [aria-invalid=true]) {
  border-color: #5555
}

code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-6);
  text-align: left !important;
  color: darkslateblue;
  background-color: wheat;
  padding: 0.06rem 0.3rem;
  border-radius: 0.3rem;
}

.edit-permission-True {
  background-color: orangered;
  color: white;
  font-size: larger !important;
  font-family: var(--font-family-headings) !important;
  font-weight: 500 !important;
  border-radius: 0.6rem;
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
}

.edit-permission-True::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='1.2em' height='1.2em' fill='white' %3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zm32 224c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z'/%3E%3C/svg%3E");
  padding: 0 0.6em 0 0.4em;
  vertical-align: -0.15em;
}

.editor-reminder {
  background: cadetblue;
  color: white;
  padding: 1rem;
  display: block;
  font-family: var(--font-family-headings);
  font-weight: 500;
  font-size: larger;
  border-radius: 0.6rem;
}

[custom-tooltip]:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent  var(--w-color-surface-tooltip) transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

[custom-tooltip]:after {
  content: attr(aria-label);
  position: absolute;
  background-color: var(--w-color-surface-tooltip);
  color: var(--w-color-text-label-menus-default);
  padding: 5px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  top: calc(80% + 1em);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

[custom-tooltip]:hover:before, [custom-tooltip]:hover:after {
opacity: 1;
visibility: visible;
}