.svg-preview {
    width: 200px;
    background: conic-gradient(
        whitesmoke 90deg,
        ivory 90deg 180deg,
        whitesmoke 180deg 270deg,
        ivory 270deg
    );
    background-repeat: repeat ;
    background-size: 20px 20px;
    background-position: top left;
}    
.svg-panel-label {
    margin: 1em 0;
}

